*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

html,body{
    height : 100%;
    background-color: #f5f5f5;
}

.main-container{
    width : 100%;
    position:absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    padding : 15px 10px;
}

.container-heading {
    padding : 8px 15px 50px;
}

.container-heading h1{
    font-size : 1.5rem;
    color : rgb(80, 80, 80);
    font-weight : bold;
    text-align: center;
}

.container-body{
    display:flex;
    justify-content: space-between;
}

.container-body button{
    align-self: center;
    font-size :1.50rem;
    cursor: pointer;  
    outline : none;
    border : none;  
    padding : 10px;
    background-color : transparent;
    color : rgb(54, 54, 54);
    transition : all ease 0.5s;
}

.container-body button:hover{
    transform: scale(1.1);
}

.container-body button .fa{
    pointer-events: none;
}

.testimonial{
    border : 2px solid teal;
    border-radius: 8px;
    flex : 0.95;
}

.test {
    position : relative;
    padding : 15px 8px;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.test img{
    width : 100px;
    height : 100px;
    border : 2px solid teal;
    border-radius: 50%;
    padding : 4px;
    background-color: white;
}

.test h3{
    padding : 15px 0px;
}

.test p{
    text-align: center;
}